In [11]:
import pandas as pd
from glob import glob
import os
import numpy as np

In [ ]:
raw_data_path = "/Users/danielmatten/Desktop/m/"
sas = [
    f for f in glob(os.path.join(raw_data_path, "*.sas7bdat"))
]
curtest_files = [f for f in sas if os.path.basename(f).startswith("curtest")]
def clean_b_string(x):
    if isinstance(x, bytes):
        return x.decode("utf-8")
    elif isinstance(x, str) and x.startswith("b'") and x.endswith("'"):
        return x[2:-1]
    return x

In [ ]:
cleaned_dfs = []
for file in curtest_files:
    print("doing " + file)
    df = pd.read_sas(file)
    
    #lets do a drop right here
    #ach_level, AST, BRL, BRW, CAB, DSC, EBN, EXT, ISC, LBR, MAG, MLT, MRK, OIP, RAS, SRM, TRA, TRD, exempt, CSCORE, pc, exemption_code, admin_dt, test_schl, test_lea, collection_code, accomm_list
    for col in df.select_dtypes(include='object').columns:
        df[col] = df[col].map(clean_b_string)
    if 'mastid' in df.columns:
            df = df.dropna(subset=['mastid'])
    df.rename(columns={
        'ACH_LEVEL': 'ach_level',
        'COLLECTION_CODE': 'collection_code',
        'TEST_ID': 'test_id',
        'EXEMPTION_CODE': 'exemption_code',
        'SCORE': 'score',
        'ACCOMM_LIST': 'accomm_list'
    }, inplace=True)
    cleaned_dfs.append(df)


curtest_master = pd.concat(cleaned_dfs, ignore_index=True)


# curtest_master = curtest_master[~curtest_master['test_id'].str.startswith(('X', 'A', 'RD3'))]

# curtest_master['year'] = pd.to_datetime(curtest_master['testdt']).dt.year
# curtest_master['testid_year'] = curtest_master['test_id'] + "_" + curtest_master['year'].astype(str)

# valid_combos = curtest_master['testid_year'].value_counts()
# valid_combos = valid_combos[valid_combos >= 2000].index
# curtest_master = curtest_master[curtest_master['testid_year'].isin(valid_combos)]


# curtest_master['score'] = pd.to_numeric(curtest_master['score'], errors='coerce')


# curtest_master['percentile'] = curtest_master.groupby(['test_id', 'year'])['score'] \
#     .transform(lambda x: x.rank(pct=True) * 100)




# curtest_master.to_csv("data/processed/gpa_master.csv", index=False)

doing /Users/danielmatten/Desktop/m/curtest_pub2010.sas7bdat
doing /Users/danielmatten/Desktop/m/curtest_pub2011.sas7bdat
doing /Users/danielmatten/Desktop/m/curtest_pub2017.sas7bdat
doing /Users/danielmatten/Desktop/m/curtest_pub2016.sas7bdat
doing /Users/danielmatten/Desktop/m/curtest_pub2023.sas7bdat
doing /Users/danielmatten/Desktop/m/curtest_pub2013.sas7bdat
doing /Users/danielmatten/Desktop/m/curtest_pub2012.sas7bdat
doing /Users/danielmatten/Desktop/m/curtest_pub2014.sas7bdat
doing /Users/danielmatten/Desktop/m/curtest_pub2015.sas7bdat

/var/folders/dk/2mw0y5w91dggrsnrpxb04jv80000gn/T/ipykernel_68522/3098392999.py:21: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  curtest_master = pd.read_csv("../data/processed/curtest_master.csv")

,testdt,lea,schlcode,year,test_id,score,ach_level,grade,mastid,testid_year,...,OIP,RAS,SRM,TRA,TRD,year_test,exempt,CSCORE,pc,exemption_code
0,2022-05-01,80C,0,2022,MA03,550.0,3,03,10324113.0,MA03_2022,...,0.0,0.0,0.0,0.0,0.0,2022_MA03,NaN,NaN,NaN,NaN
1,2022-05-01,80C,0,2022,RD03,547.0,4,03,10324113.0,RD03_2022,...,0.0,0.0,0.0,0.0,0.0,2022_RD03,NaN,NaN,NaN,NaN
2,2022-05-01,320,316,2022,MA08,547.0,3,08,8928675.0,MA08_2022,...,0.0,0.0,0.0,0.0,0.0,2022_MA08,NaN,NaN,NaN,NaN
3,2022-05-01,320,316,2022,RD08,557.0,3,08,8928675.0,RD08_2022,...,0.0,0.0,0.0,0.0,0.0,2022_RD08,NaN,NaN,NaN,NaN
4,2022-05-01,320,316,2022,SC08,259.0,4,08,8928675.0,SC08_2022,...,0.0,0.0,0.0,0.0,0.0,2022_SC08,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31912990,2015-03-01 00:00:00,b'920',b'445',b'2015',b'ACEN',b'13',b'2',b'11',9129958.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'N'
31912991,2015-03-01 00:00:00,b'920',b'500',b'2015',b'ACEN',b'10',b'2',b'11',9152385.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'N'
31912992,2015-03-01 00:00:00,b'920',b'436',b'2015',b'ACEN',b'10',b'2',b'11',9058486.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'N'
31912993,2015-03-01 00:00:00,b'410',b'358',b'2015',b'ACEN',b'10',b'2',b'11',9167963.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'N'
31912994,2015-03-01 00:00:00,b'700',b'319',b'2015',b'ACEN',b'20',b'3',b'11',9016803.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b'N'

In [ ]:
def clean_b_string(x):
    if isinstance(x, bytes):
        return x.decode("utf-8")
    elif isinstance(x, str) and x.startswith("b'") and x.endswith("'"):
        return x[2:-1]
    return x
# List of columns to drop
columns_to_drop = [
    'ach_level', 'AST', 'BRL', 'BRW', 'CAB', 'DSC', 'EBN', 'EXT',
    'ISC', 'LBR', 'MAG', 'MLT', 'MRK', 'OIP', 'RAS', 'SRM', 'TRA', 'TRD',
    'exempt', 'CSCORE', 'pc', 'exemption_code', 'admin_dt',
    'test_schl', 'test_lea', 'collection_code', 'accomm_list'
]

# Drop them if they exist in the DataFrame
curtest_clean = curtest_master.drop(columns=[col for col in columns_to_drop if col in df.columns])

for col in curtest_clean.select_dtypes(include='object').columns:
        curtest_clean[col] = curtest_clean[col].map(clean_b_string)

In [5]:
def clean_b_string(x):
    if isinstance(x, bytes):
        return x.decode("utf-8")
    elif isinstance(x, str) and x.startswith("b'") and x.endswith("'"):
        return x[2:-1]
    return x

In [31]:
curtest23 = pd.read_sas("/users/danielmatten/Desktop/m/curtest_pub2023.sas7bdat")
curtest23 = curtest23.drop(columns=['admindt','pc','accomm_list', 'test_lea','test_schl','testdt','collection_code','exemption_code','ach_level'])
for col in curtest23.select_dtypes(include='object').columns:
        curtest23[col] = curtest23[col].map(clean_b_string)
curtest23.replace("NULL", np.nan, inplace=True)
curtest23.replace("NU", np.nan, inplace=True)
curtest23.dropna(inplace=True)
curtest23.columns = curtest23.columns.str.lower()
curtest23.to_csv("../data/raw/curtest23.csv", index=False)

In [41]:
raw_data_path = "../data/raw"
csv = [
    f for f in glob(os.path.join(raw_data_path, "*.csv"))
]
curtest_files = [f for f in csv if os.path.basename(f).startswith("curtest")]

curtest_dfs = [pd.read_csv(f) for f in curtest_files]

# Concatenate all DataFrames
curtest_master = pd.concat(curtest_dfs, ignore_index=True)

# Ensure test_id is treated as string (important if it has NaNs or non-strings)
curtest_master['test_id'] = curtest_master['test_id'].astype(str)

# Create mask for unwanted prefixes
mask = curtest_master['test_id'].str.startswith(('X', 'A', 'RD3','W','C','U'))

# Keep only rows that do NOT match the mask
curtest_master = curtest_master[~mask]

curtest_master.to_csv("../data/processed/curtest_master.csv")

/var/folders/dk/2mw0y5w91dggrsnrpxb04jv80000gn/T/ipykernel_69858/3606422700.py:7: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  curtest_dfs = [pd.read_csv(f) for f in curtest_files]
/var/folders/dk/2mw0y5w91dggrsnrpxb04jv80000gn/T/ipykernel_69858/3606422700.py:7: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  curtest_dfs = [pd.read_csv(f) for f in curtest_files]
/var/folders/dk/2mw0y5w91dggrsnrpxb04jv80000gn/T/ipykernel_69858/3606422700.py:7: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  curtest_dfs = [pd.read_csv(f) for f in curtest_files]
/var/folders/dk/2mw0y5w91dggrsnrpxb04jv80000gn/T/ipykernel_69858/3606422700.py:7: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  curtest_dfs = [pd.read_csv(f) for f in curtest_files]
/var/folders/dk/2mw0y5w91dggrsnrpxb04jv80000gn/T/ipykernel_69858/3606422700.py:7: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  curtest_dfs = [pd.read_csv(f) for f in curtest_files]
/var/folders/dk/2mw0y5w91dggrsnrpxb04jv80000gn/T/ipykernel_69858/3606422700.py:7: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  curtest_dfs = [pd.read_csv(f) for f in curtest_files]